<% layout("layouts/boilerplate") %>
<%= success %>


<h1><b>All Listings</b></h1>

<!-- <form method="GET" action="/listings/new"> 
  <button>Create New Listing</button>
</form> -->

<!-- Search -->

<% if (alllistings.length === 0) { %>
  <h3>No listings found 😢</h3>
<% } %>


<div class="search-wrapper">
  <div class="search-container">

    <form action="/listings" method="GET" class="search-bar">
     <input 
       type="text" 
        id="searchInput"
        name="search" 
        placeholder="Discover amazing stays... ✨"
        class="search-input"
       >
       <div id="searchResults" class="search-results"></div>

      <button class="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i> Search
      </button>
    </form>

  </div>
</div>



<div id="filters">

   <div class="filter">
    <div>
      <i class="fa-solid fa-fire"></i>
       <p>Trending</p>
    </div>
   </div>

   <div class="filter">
     <i class="fa-solid fa-bed"></i>
      <p>Rooms</p>
    </div>
      
   <div class="filter">
     <i class="fa-solid fa-mountain-city"></i>
      <p>Iconic-Cities</p>
    </div>
   <div class="filter">
     <i class="fa-solid fa-mountain"></i>
      <p>Mountains</p>
    </div>
    <div class="filter">
     <i class="fa-brands fa-fort-awesome"></i>
      <p>Castles</p>
    </div>
    <div class="filter">
 <i class="fa-solid fa-person-swimming"></i>
      <p>Amazing pools</p>
    </div>
    <div class="filter">
     <i class="fa-solid fa-campground"></i>
      <p>Camping</p>
    </div>
    <div class="filter">
   <i class="fa-solid fa-tent"></i>
      <p>Farm</p>
    </div>
    <div class="filter">
   <i class="fa-solid fa-snowflake"></i>
      <p>Arctic</p>
    </div>
    <div class="filter">
    <i class="fa-solid fa-hill-rockslide"></i>
      <p>Hills</p>
    </div>
    <div class="filter">
   <i class="fa-solid fa-tree"></i>
      <p>Forest-Area</p>
    </div>
    
    <div class="filter">
   <i class="fa-solid fa-plane-departure"></i>
      <p>Abroad</p>
    </div>
     <div class="filter">
   <i class="fa-solid fa-mars-and-venus-burst"></i>
      <p>More..</p>
    </div>
    
  
    
  

    <div class="tax-toggle">
         <div class="form-check-reverse form-switch">
         <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
      <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
      </div>
    </div>
    

   </div>
    <div>
   
</div>
<div  id ="listingContainer" class="row row-cols-lg-4 row-cols-md-3  g-3 "> 

<% for(let listing of alllistings){ %>

<div class="col">
 
<a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">

<div class="card h-100 listing-card">

 <img src="<%= listing.image.url %>" 
class="card-img-top" 
style="height:20rem; object-fit:cover;" 
alt="listing_image">

<div class="card-body">

<h5 class="card-title">
<b><%= listing.title %></b>
</h5>

<p class="card-text text-muted">
<%= listing.description.substring(0,40) %>...
<b>₹ <%= listing.price%></b> / night
<i class="tax-info"> +18% GST</i>
</p>

</div>

</div>

</a>

</div>

<% } %>

</div>

<!-- <Search -->
<script>
const input = document.getElementById("searchInput");
const resultsBox = document.getElementById("searchResults");
const container = document.getElementById("listingContainer");
let timeout; 
input.addEventListener("input", () => {
    clearTimeout(timeout);

    timeout = setTimeout(async () => {
        const query = input.value.trim();

        try {
            const res = await fetch(`/listings/search/api?q=${query}`);
            const data = await res.json();

            
            resultsBox.innerHTML = "";

            if (query.length === 0) {
                resultsBox.style.display = "none";
            } else {
                resultsBox.style.display = "block";

                data.slice(0, 5).forEach(listing => {
                    const div = document.createElement("div");
                    div.classList.add("result-item");

                    div.innerHTML = `
                        <a href="/listings/${listing._id}">
                            ${listing.title}
                        </a>
                    `;

                    resultsBox.appendChild(div);
                });
            }

            
            container.innerHTML = "";

            if (data.length === 0) {
                container.innerHTML = "<h3>No listings found 😢</h3>";
                return;
            }

            data.forEach(listing => {
                const div = document.createElement("div");
                div.classList.add("col");

                div.innerHTML = `
                <a href="/listings/${listing._id}" class="text-decoration-none text-dark">
                    <div class="card h-100 listing-card">

                        <img src="${listing.image.url}" 
                             class="card-img-top"
                             style="height:20rem; object-fit:cover;">

                        <div class="card-body">
                            <h5 class="card-title"><b>${listing.title}</b></h5>

                            <p class="card-text text-muted">
                                ${listing.description.substring(0,40)}...
                                <b>₹ ${listing.price}</b> / night
                            </p>
                        </div>

                    </div>
                </a>
                `;

                container.appendChild(div);
            });

        } catch (err) {
            console.log(err);
        }

    }, 300); 
});
</script>
<script>
 let taxSwitch = document.getElementById("flexSwitchCheckDefault");
 taxSwitch.addEventListener("click",()=>{
 let  taxInfo = document.getElementsByClassName("tax-info");
 for(info of taxInfo){
  if(info.style.display != "inline"){
    info.style.display ="inline";
  }else{
      info.style.display ="none";
  }
 }
 });
</script>



<div class="newsletter-section text-center p-5 mt-5">

  <h2 class="fw-bold">Stay Updated ✉️</h2>
  <p class="text-muted">Get travel deals & updates.</p>

  <div class="search-container">  

    <form action="/subscribe" method="POST" class="search-bar mt-3">

      <input 
        type="email" 
        name="email" 
        placeholder="Enter your email"
        class="search-input"
        required
      >

      <button class="search-btn">
        <i class="fa-solid fa-envelope"></i> Notify
      </button>

    </form>

  </div>

</div>


<div class="info-strip">
  <div class="info-container">

    <div class="info-item">
      <i class="fa-solid fa-circle-check"></i>
      <span>Verified Listings</span>
    </div>

    <a href="tel:+919347567576" class="info-item">
      <i class="fa-solid fa-mobile-screen"></i>
      <span>+91 9347567576</span>
    </a>

    <a href="tel:+919347567576" class="info-item">
      <i class="fa-solid fa-phone"></i>
      <span>24/7 Support</span>
    </a>

    <a href="mailto:tagorerathod18@gmail.com" class="info-item">
      <i class="fa-solid fa-envelope"></i>
      <span>Email</span>
    </a>

  </div>
</div>
